#landingFlightWrapper {
  display: flex;
  justify-content: center;
}

#landingPlaneWrapper {
  position: absolute;
  top: 200px;
  animation: landingPlaneAnimation 3s ease-in;
}

#landingFlightTitle {
  text-align: center;
}

#landingPlaneImage {
  height: 100px;
  width: 100px;
  transform: rotate(180deg);
}

@keyframes landingPlaneAnimation {
  from {
    top: 0;
  }
  to {
    top: 200px;
  }
}
